@model GameBlog1488.Models.Genre

@{
    ViewBag.Title = "Delete";
}

<br />
<br />

<h3>Вы УВЕРЕНЫ, что хотите удалить этот жанр из списка?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameGenre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameGenre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться назад", "Index")
        </div>
    }
</div>
